<header>
  <div class="header-logo">
    <a href="/">Ip-Manager</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">Ip-Managerとは</a>
    </li>
  </ul>
</header>


<div class="about-main">
  <h2>IPアドレスとは</h2>
  <p>Internet Protocol Address。</p>
  <p>インターネット上に接続された機器が持つナンバーのことです。</p> 
  <p>データをやり取りする際、ネットワーク上で通信相手を間違わないようにするために使われます。</p>
</div>