<header>
  <div class="header-logo">
    <a href="/">Ip-Manager</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">Ip-Managerとは</a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>IPアドレスで、世界はつながる</h2>
    <p>あなたのIPアドレスを確認しよう！</p>
  </div>
</div>
