<header>
  <div class="header-logo">
    Ip-Manager
  </div>
  <ul class="header-menus">
    <li>Ip-Managerとは</li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>IPアドレスで、世界はつながる</h2>
    <p>あなたのIPアドレスを確認しよう！</p>
  </div>
</div>
