<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        ip_address
        location
        computer_name
        user
        <%= post.use %>
      </div>
      <div class="posts-index-item">
        <%= @segment %>
      </div>
    <% end %>
  </div>
</div>