<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <p>詳細画面です</p>
      <div class="post-time">
        <%= @show %>
      </div>
    </div>
  </div>
</div>